/*
   default camera config for pat
   ar0231-yuv*4     1920x1080   video0~3
   ahd-yuv*4        1280x720    video4~7
   ahd-yuv*4        1920x1080   video8~11
*/

&i2c1 {
    camera0: camera@50 {
        reg = <0x50>;
        ser-alias-id = <0x40>;
        sensor-alias-id = <0x50>;

        #include "../cameras/ox3c_raw_1920x1080.dtsi"

        port {
            camera_0_out: endpoint@0 {
                remote-endpoint = <&deser_0_in_0>;
            };
        };
    };

    camera1: camera@51 {
        reg = <0x51>;
        ser-alias-id = <0x41>;
        sensor-alias-id = <0x51>;

        #include "../cameras/ox3c_raw_1920x1080.dtsi"

        port {
            camera_1_out: endpoint@0 {
                remote-endpoint = <&deser_0_in_1>;
            };
        };
    };

};
